<div class="container mt-1">
  <div class="row col-1 offset-11">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="moneda" (change)="cambiarMoneda(moneda)">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="COP">COP</option>
    </select>
  </div>
  <div class="row my-5">
      <div class="col-3"><img src="https://www.newshore.es/media/1411/newshore-by_flyr-logo.svg" ></div>
      <div class="col-8 text-center mt-2">
        <label class="fs-3">PRUEBA TECNICA (DESARROLLADOR FRONT-END)</label>
      </div>
  </div>
  <div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" >
      <div>
        <div class="card px-5 py-3 shadow" >
          <div class="row pt-2">
            <div class="col-3 form-floating mb-3" >
              <input type="text" class="form-control input-custom text-uppercase" id="floatingInput" formControlName="origen" (change)="capturarOrigen($event)" list="datalistOptions"  [ngClass]="{'is-invalid': submitted && checkoutForm.get('origen').hasError('required') }" maxlength="3" placeholder="Origen">
              <label for="floatingInput">ORIGEN</label>
              <datalist id="datalistOptions">
                <option [value]="data.departureStation"  *ngFor="let data of routeList;"></option>
              </datalist>
              <div class="invalid-feedback" *ngIf="checkoutForm.get('origen').hasError('required')">Debe seleccionar el origen de su viaje</div>
            </div>
            <div class="col-2 mt-3">
              <img class="img" src="https://cdn-icons-png.flaticon.com/512/68/68380.png">
            </div>
            <div class="col-3 form-floating mb-3">
              <input type="text"  class="form-control input-custom text-uppercase" id="floatingInput2" formControlName="destino" (change)="capturarDestino($event)" list="datalistOptions2" [ngClass]="{'is-invalid': submitted && checkoutForm.get('destino').hasError('required') }" maxlength="3" placeholder="Destino">
              <label for="floatingInput2">DESTINO</label>
              <datalist id="datalistOptions2">
                <option [value]="data.arrivalStation" *ngFor="let data of routeList;"></option>
              </datalist>
              <div class="invalid-feedback" *ngIf="checkoutForm.get('destino').hasError('required')">Debe seleccionar el destino de su viaje</div>
            </div>
            <div class="col-2 mt-3">
              <img class="img" src="https://cdn-icons-png.flaticon.com/512/68/68542.png">
            </div>
            <div class="col-2 mt-3">
              <button type="submit" class="btn rounded-pill mb-3 px-5" (click)="bucarVuelo()" >Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>   
  <div class="card mt-5 shadow-sm" *ngIf="listadoVuelo.length > 0 && buscar == true">
    <div>
      <label class="fs-4 pt-3 pb-3 ms-4 informacion" for="informacion">Informacion del vuelo</label>
    </div>
    <div>
      <div class="row mx-5 mb-3 pb-4" *ngFor="let lista of listadoVuelo">
        <div class="col-12 numeroDeVuelo fs-6">Vuelo:{{lista.Transport.FlightNumber}} </div>
        <div class="col-1 origen fs-4 text-center">{{lista.Origin }} </div>
        <div class="col-3"><hr size="2px" /></div>
        <div class="col-1 text-center">
          <img class="img " src="https://cdn-icons-png.flaticon.com/512/68/68380.png">
        </div>
        <div class="col-3"><hr size="2px" /></div>
        <div class="col-1 destino fs-4 text-center" >{{lista.Destination}}</div>
        <div class="col-3 precio fs-4 border-start text-center">{{lista.Price |currency:moneda:'symbol'}}</div>  
      </div>
    </div>
    <div class="row offset-9 mb-2">
      <div class="col-5  fs-4"> Total:</div>
      <div class="col-4 mt-1 fs-5">  {{informacionVuelo.Journey.Price |currency:moneda:'symbol'}}</div>
    </div>
  </div>
  <div class="card mt-5 shadow-sm" *ngIf="listadoVuelo.length == 0 && buscar == true" >
    <div>
      <label class="fs-4 pt-3 pb-3 ms-4 informacion" for="informacion">Informacion del vuelo</label>
    </div>
  <label class="fs-4 mx-4 mb-2 py-2">No se encuentra el destino en nuestra ruta</label>
  </div>
</div>





