html, body {
    height: 100%; 
    background: #fbf9f9;
    color:#151E3B
   }

.form-floating .input-custom{
    border-radius: 0px;
    border: none;
}

.form-floating .input-custom:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #151E3B ;
   
}

.form-floating>.form-control:focus~label{
    color: #151E3B;
}

.bottom-right{
    position: absolute;
}

.rounded-pill{
    color: #fff;
    background:  #151E3B;;
}

.rounded-pill:hover{
    background:#FF4833 ;
    color: #fff;
}

.img{
    width: 30px;
    height: 30px;
}
.numeroDeVuelo{
    margin-left: 26em;
}